.formulario {
    padding: 30px;
    margin-bottom: 30px;
}

.formulario .form-group {
    width: 100%;
    margin-bottom: 10px;
}


.formulario input {
    padding: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 18px;
    border: none;
}

#icono{
    padding: 15px;
    text-align: center;
    width: 48px;
    margin: 1%;
    max-height: 48px;
    font-size: 18px;
    line-height: 18px;
    background: rgb(183, 231, 171);
    display: inline-block;
    border-radius: 10px;
}



 .botoncomprar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 50px;
}

 .botoncomprar .btn_comprar{
        margin: auto;
        padding: 1rem;
        text-transform: uppercase;
        color: #fafafa;
        background-color: rgb(7, 177, 7);
        border: none;
        border-radius: 3px;
        box-shadow: 1px 1px 10px rgba(50,50,50,.4);
        transition: .3s all ease;
        letter-spacing: .1rem;
        font-size: 1em;
        position: relative;
        top: 0;
        right: 0;
        min-width:50px;
        min-height: 70px; 
      
}
     
       .botoncomprar .btn_comprar:hover {
          box-shadow: 1px 1px 20px rgba(150,150,150,.2);
          cursor: pointer;
          background-color: rgb(5, 170, 5)
          
          
        
        }