.productos {
    background:#FFFFFF;
    width: 100%;
    min-width: 800px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}


.productos article {
    display: block;
    min-width: 400px;
    max-width: 800px;
    text-align: center;
    max-height: 500px;
    margin: 5%; 
}

.productos article:hover{
    border: 1px solid rgba(133, 134, 134, 0.5);

}


.productos article img{   
    width: 100%;
    height: auto;
    padding-bottom: 3%;
 }

.productos article > h2{
    font-size: 1.5em;
    
}

.productos article > h3, h4{
    color: rgb(131, 131, 131);

}

.productos article > h3{
    font-size: 2em;
}



.filtroMobile{
    display: none;
}

.cpaginas{
    width:90%;
    margin-bottom: 15%;
}

.cpaginas ul{
    margin: 0 auto;
    float: right;
}

.cpaginas ul li{
    display: inline;
}

.cpaginas ul li a{
    font-size: 2em;
}

.productos article .botoncomprar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 50px;
}

.productos article .botoncomprar .comprar{
        margin: auto;
        padding: 1rem;
        text-transform: uppercase;
        color: #fafafa;
        background-color: rgb(7, 177, 7);
        border: none;
        border-radius: 3px;
        box-shadow: 1px 1px 10px rgba(50,50,50,.4);
        transition: .3s all ease;
        letter-spacing: .1rem;
        font-size: 1em;
        position: relative;
        top: 0;
        right: 0;
        min-width:50px;
        min-height: 70px; 
      
}
     
        
        .productos article .botoncomprar .comprar:hover {
          box-shadow: 1px 1px 20px rgba(150,150,150,.2);
          cursor: pointer;
          background-color: rgb(5, 170, 5)
          
          
        
        }

@media (max-width: 1200px) {

    .filtros{
        min-width: 200px;
    }

    .filtroMobile{
        display: block;
    }

     .whitespace_1{
         display: none;
     }

     .productos{
         min-width: 0;
     }

     .productos article{
        min-width: 200px;
        max-width: 200px;
     }
     .productos article a img{   
        width: 100%;
     }

     .productos article:hover{
        border: none;
    
    }
    
}

@media (max-width:900px){
    .filtros{
        display:none;
    }

}